/* .TestimonialSidebar {
  width: 612px !important;
  margin-right: 0 !important;
}
.testomonial_title {
  background-image: url(../assets/Teastimonial/TESTIMONIAL.png) !important;
}
@media only screnn and (max-width: 767px) {
  .TestimonialSidebar {
    width: 300px !important;
  }
} */
